
:host {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 1000;
  display: block;
}
.menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background: var(--whiteColour);
  color: var(--savingsColour);
  padding: 2rem;
}
.hamburger {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background: var(--whiteColour);
  color: var(--savingsColour);
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.hamburger span {
  display: block;
  width: 6rem;
  height: 1rem;
  background: var(--savingsColour);
  border-radius: 1rem;
  transition: 0.3s;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-family: var(--headingFont);
  text-align: right;
  font-weight: 600;
  font-size: 4rem;
  line-height: 0.8;
}
.menu-list {
  background: var(--whiteColour);
  color: var(--savingsColour);
  left: 0;
  width: 100%;
  animation: fadeIn 0.2s;
  display: flex;
  flex-direction: column;
  padding: 0 0 2rem 0;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.menu-item {
  padding: 0.7rem 2rem;
  cursor: pointer;
  font-size: 3rem;
  font-family: var(--bodyFont);
  background: none;
  border: none;
  text-align: left;
  transition: background 0.2s;
  display: flex;
  align-items: center;
}

.menu-item.current {
    font-weight: 1000;
}

.credit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem 0.5rem 2rem;
  font-size: 3rem;
  color: var(--savingsColour);
  font-family: var(--bodyFont);
}
.credit a {
  color: var(--savingsColour);
  text-decoration: none;
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 3rem;
}
.github-logo {
  height: 3rem;
  width: auto;
  margin-right: 0.7rem;
  display: inline-block;
  vertical-align: middle;
}