:root {
    --loanColour: #76c69a;
    --loanOffsetColour:  #89d4ab;
    --savingsColour: #6b6fba;
    --whiteColour: #f2f1ef;
    --backgroundColour: #ebe8e2;
    --blackColour: #070818;

    --headingFont: 'Istok Web', sans-serif;
    --bodyFont: 'Inria Sans', sans-serif;

    background: var(--backgroundColour);
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--bodyFont);
    color: var(--blackColour);
    font-size: 3rem;
}

#content {
    height: 100%;
    padding: 4rem 2rem 2rem 2rem;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-title {
    background: var(--whiteColour);
    color: var(--blackColour);
    font-family: var(--headingFont);
    font-size: 3rem;
    font-weight: 800;
    width: 100%;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
}

.card-content {
    background: var(--card-bg);
    color: var(--whiteColour);
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}


input[type="checkbox"] {
	width: 2.2rem;
	height: 2.2rem;
	accent-color: var(--savingsColour);
	border-radius: 0.5rem;
	border: none;
	box-shadow: 0 1px 4px rgba(0,0,0,0.08);
	margin-right: 0.5rem;
	cursor: pointer;
}

input,
select {
    background: #fff;
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.07);
    font-size: 2rem;
    border: none;
    border-radius: 0.7rem;
    padding: 0.7rem 1.2rem;
    color: #222;
    outline: none;
    transition: box-shadow 0.2s;
}
input:focus,
select:focus {
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.07);
}
select {
    width: 100%;
}

.card-input-label {
    display: block;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--whiteColour);
}

.inputs-grid {
    display: grid;
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    gap: 2rem;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.holders-list {
    margin-top: 2rem;
}
.holders-list-label {
    font-weight: 600;
    margin-bottom: 0.7rem;
    color: var(--whiteColour);
    font-size: 2.4rem;
}
.holders-list-items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.holders-list-items label {
    display: flex;
    align-items: center;
    color: var(--whiteColour);
    font-size: 2.4rem;
}