:root {
    --loanColour: #76c69a;
    --loanOffsetColour:  #89d4ab;
    --savingsColour: #6b6fba;
    --whiteColour: #f2f1ef;
    --backgroundColour: #ebe8e2;
    --blackColour: #070818;

    --headingFont: 'Istok Web', sans-serif;
    --bodyFont: 'Inria Sans', sans-serif;

    background: var(--backgroundColour);
}
body {
    margin: 0;
    padding: 0;
    font-family: var(--bodyFont);
    color: var(--blackColour);
    font-size: 3rem;
}

#content {
    height: 100%;
    padding: 4rem 2rem 2rem 2rem;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-title {
    background: var(--whiteColour);
    color: var(--blackColour);
    font-family: var(--headingFont);
    font-size: 3rem;
    font-weight: 800;
    width: 100%;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
}

.card-content {
    background: var(--card-bg);
    color: var(--whiteColour);
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}